<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LixUtils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5651C6561DA89D2900DD4C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5651C66F1DA89D2900DD4C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5651C67A1DA89D2900DD4C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
